<div>
    <ngb-carousel>
        <ng-template ngbSlide *ngFor="let slide of slides">
            <img [src]="slide.img.url" [alt]="slide.id" width="100%"/>
        </ng-template>
    </ngb-carousel>
</div>
<div class="row">
    <div class="container">
        <h2 class="tit">
            <img src="../assets/image/home/header2.jpg" width="100%">
        </h2>
        <h2>
            <img src="../assets/image/home/header2-1.jpg" width="100%">
        </h2>
        <h2>
            <img src="../assets/image/home/header2-2.jpg" width="100%">
        </h2>
    </div>
</div>
<div class="row">
    <div class="container">
        <h2 class="tit">
            <img src="../assets/image/home/header3.jpg" width="100%">
        </h2>
    </div>
</div>
<div class="row">
    <div class="container">
        <h2 class="tit">
            <img src="../assets/image/home/header4.jpg" width="100%">
        </h2>
    </div>
</div>
<div class="row">
    <div class="container">
        <h2 class="tit">
            <img src="../assets/image/home/header5.jpg" width="100%">
        </h2>
    </div>
</div>