<div class="container">
    <h2 class="text-center"> 关于考研VIP </h2>
    <p>
        “VIP考研”隶属于上海誊斐教育科技有限公司，上海誊斐教育科技有限公司是一家致力于为全中国考研学子提供优质、
        专业和高效的考研辅导和服务的综合型教育机构。
        <br>
        <br>
        公司成员是来自全国多所重点院校毕业的研究生，我们既是全心全意为学生服务的教育公司，也是一个志存高远的创业者联盟。
        <br>
        <br>
        在成立公司之前，
        团队常年与全国十多家知名考研机构合作，积累了丰富的考研教育服务和辅导资源：
        专业课辅导老师、重点院校考研动态、考研资料、考研规划、复试调剂等等一站式解决。
        <br>
        <br>
        “VIP考研”是针对“考研专业课”辅导成立的品牌，截止今天，我们已经帮助了上万学子解决他们的专业课烦恼、
        快速突破专业课壁垒，我们承诺给每一位学子提供VIP式的辅导服务和资源。
    </p>
</div>

<div class="container">
    <h2 class="text-center"> 我们的优势 </h2>
    <p>
        在中国一直存在教育资源分布不均衡的状况，90%的优质资源聚拢在近10%的人身边，
        很多二三线城市普通院校的学生很难考上211、985等重点高校，从而实现人生的逆袭。
        <br>
        <br>
        跨城市、跨院校、跨专业，所谓“三跨”一直是考研道路上的老大难，身在普通院校，而却对重点院校心生向往，要怎样才能实现？
        <br>
        <br>
        VIP考研是我们倾情打造的高端、高效的专业课辅导品牌，致力于让全中国的考研学子都能享受到优质的辅导服务，助力决胜第二次的人生竞赛
        <li>1V：高分在读学长学姐一对一辅导—名师才能出高徒</li>
        <li>
            2V：绝密真题复习资料重磅奉献—重点精华尽在掌握
        </li>
        <li>
            3V：VIP学管师全程跟踪服务—你的专属复习管家
        </li>
    </p>
</div>
<div class="container">
  <div class="text-center">
      <h2>联系我们</h2>
      <p>方老师：18321736761</p>
      <p>叶老师：18321767275</p>
  </div>
</div>